%div.text-center
  = link_to boards_path, method: :get, remote: false, id: "btnBoard", class: "btn btn-info btn-lg vcenter" do
    %i.fa.fa-eye.fa-2x
    .text-tencer 投稿をみたい
  = link_to "", method: :get, remote: false, id: "btnEntry", class: "btn btn-warning btn-lg vcenter" do
    %i.fa.fa-lightbulb-o.fa-2x
    .text-tencer 投稿したい

