#story-cards.for3.slide-to-top
  %a.story-card{:href => "/stories/592"}
    .image
      .img
        %img{:alt => "Thumbnail2", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/07/thumbnail2.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "20150610104509 yanagawa logo  resized", :height => "40", :src => "https://blabo-jp.s3-ap-northeast-1.amazonaws.com/users/20150610104509-yanagawa_logo__resized.jpg", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Blabo logo square", :height => "40", :src => "https://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/07/blabo-logo-square.png", :width => "40"}/
        %p.abstract
          「やなが『わ！』プロジェクト」の発足のため、柳川市を訪れたBlab...
    .info
      %span.category.article
        記事・コラム
      %span.reported-on.number
        2015.07.06
    %h3
      Blabo!も柳川に！城下町の風情と自然を味わ...
  %a.story-card{:href => "/stories/575"}
    .image
      .img
        %img{:alt => "Cb403151b9520e85bf240f6f8de9fd38", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/cb403151b9520e85bf240f6f8de9fd38.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "20150610104509 yanagawa logo  resized", :height => "40", :src => "https://blabo-jp.s3-ap-northeast-1.amazonaws.com/users/20150610104509-yanagawa_logo__resized.jpg", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Blabo logo square", :height => "40", :src => "https://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/07/blabo-logo-square.png", :width => "40"}/
        %p.abstract
          福岡県南部に位置する柳川市。今回の「やなが『わ！』プロジェクト」の...
    .info
      %span.category.article
        記事・コラム
      %span.reported-on.number
        2015.06.15
    %h3
      柳川市役所の井上さんが語る「やなが『わ！』プロ...
  %a.story-card.right-side{:href => "/stories/573"}
    .image
      .img
        %img{:alt => "Tottori bamboo tee square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/05/tottori-bamboo-tee-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "Logo square", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/tottori/logo-square.jpg", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "20140909162058 kumo1", :height => "40", :src => "//blabo-jp.s3.amazonaws.com/users/20140909162058-kumo1.png", :width => "40"}/
        %p.abstract
          鳥取県に本社をおくケイケイは、日々さまざまなプラスチック製品を製造...
    .info
      %span.category.ongoing
        作ってます
      %span.reported-on.number
        2014.12.19
    %h3
      ゴルファーに朗報！土に戻るゴルフティー開発中
  %a.story-card{:href => "/stories/572"}
    .image
      .img
        %img{:alt => "Tottori omochi square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/12/tottori-omochi-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "Logo square", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/tottori/logo-square.jpg", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Picture?width=200&height=200", :height => "40", :src => "http://graph.facebook.com/100006540462748/picture?width=200&height=200", :width => "40"}/
        %p.abstract
          鳥取県が特産品のリデザインをおこなう「とっとりとプロジェクト」。日...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2014.12.19
    %h3
      Oisixで発売決定！100人のアイデアから生...
  %a.story-card{:href => "/stories/568"}
    .image
      .img
        %img{:alt => "Tottori echinacea square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/tottori-echinacea-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "Logo square", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/tottori/logo-square.jpg", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Picture", :height => "40", :src => "http://graph.facebook.com/100004298686957/picture", :width => "40"}/
        %p.abstract
          鳥取県で200年以上お茶屋を営む、ながた茶店。そのながた茶店が、今...
    .info
      %span.category.ongoing
        作ってます
      %span.reported-on.number
        2014.12.19
    %h3
      人が入る「お風呂専用のティーバッグ」開発中
  %a.story-card.right-side{:href => "/stories/565"}
    .image
      .img
        %img{:alt => "Oisix cooking kit square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/oisix-cooking-kit-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "Logo square", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/projects/oisix/logo-square.png", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "20140811081813 %e3%82%b0%e3%83%aa%e3%83%bc%e3%83%b3%e3%81%8f%e3%81%a4", :height => "40", :src => "https://blabo-jp.s3.amazonaws.com/users/20140811081813-%E3%82%B0%E3%83%AA%E3%83%BC%E3%83%B3%E3%81%8F%E3%81%A4.jpg", :width => "40"}/
        %p.abstract
          有機や特別栽培の農産物など安心食品宅配を提供しているオイシックス株...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2014.11.13
    %h3
      Oisixで発売決定！夫婦のすれ違いを一気に解...
  %a.story-card{:href => "/stories/410"}
    .image
      .img
        %img{:alt => "84e0d386b0f2406f1743ee019f865648", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/06/84e0d386b0f2406f1743ee019f865648.png", :width => "230"}/
      .content
        .people
          %div{:style => "height: 40px;"}
        %p.abstract
          Blabo!マガジンの新しい企画「アイデアの達人」シリーズ。第2回...
    .info
      %span.category.article
        記事・コラム
      %span.reported-on.number
        2014.06.04
    %h3
      アイデアは世界からのプレゼント。だから人にも贈りたい
  %a.story-card{:href => "/stories/365"}
    .image
      .img
        %img{:alt => "387cf51e0cd167048a68208b0669e27a", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/05/387cf51e0cd167048a68208b0669e27a.png", :width => "230"}/
      .content
        .people
          %div{:style => "height: 40px;"}
        %p.abstract
          Blabo!マガジンの新しい企画「アイデアの達人」シリーズはじまり...
    .info
      %span.category.article
        記事・コラム
      %span.reported-on.number
        2014.05.12
    %h3
      「会社の会議より、母親のアイデアのほうが面白か...
  %a.story-card.right-side{:href => "/stories/231"}
    .image
      .img
        %img{:alt => "9875cd3c62b99e2a14de81f44a369c8d", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/04/9875cd3c62b99e2a14de81f44a369c8d.png", :width => "230"}/
      .content
        .people
          %div{:style => "height: 40px;"}
        %p.abstract
          先日、Blabo!の「CROSSOVER展」に参加しました。トーク...
    .info
      %span.category.article
        記事・コラム
      %span.reported-on.number
        2014.04.14
    %h3
      アイデアはCROSSOVERから生まれる(前篇...
  %a.story-card{:href => "/stories/157"}
    .image
      .img
        %img{:alt => "C278f017174156097186b242b35bccfd", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/03/c278f017174156097186b242b35bccfd.png", :width => "230"}/
      .content
        .people
          %div{:style => "height: 40px;"}
        %p.abstract
          仕事をする上で「企画」は欠かせないもの。これだけ一般的に使われてい...
    .info
      %span.category.article
        記事・コラム
      %span.reported-on.number
        2014.03.05
    %h3
      河尻亨一さん、企画っていったいなんでしょう？
  %a.story-card{:href => "/stories/561"}
    .image
      .img
        %img{:alt => "Mfr communication hallway square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-communication-hallway-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "20130826203819 logo mfr", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/logos/20130826203819-logo-mfr.png", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Ejjew3cb", :height => "40", :src => "http://pbs.twimg.com/profile_images/584172320228388864/eJjew3CB.jpg", :width => "40"}/
        %p.abstract
          エントランスや廊下、エレベーターホールに階段。マンションの中にはた...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2014.02.14
    %h3
      何気ない移動を、意味のある「運動」に！  カロ...
  %a.story-card.right-side{:href => "/stories/571"}
    .image
      .img
        %img{:alt => "Mfr communication stairs square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-communication-stairs-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "20130826203819 logo mfr", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/logos/20130826203819-logo-mfr.png", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Picture?width=200&height=200", :height => "40", :src => "https://graph.facebook.com/100001899231658/picture?width=200&height=200", :width => "40"}/
        %p.abstract
          エントランスや廊下、エレベーターホールに階段。マンションの中にはた...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2014.02.14
    %h3
      「一段って実はハガキ2枚分の高さでした。」… ...
  %a.story-card{:href => "/stories/555"}
    .image
      .img
        %img{:alt => "Mfr communication elevator square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-communication-elevator-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "20130826203819 logo mfr", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/logos/20130826203819-logo-mfr.png", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Default icon", :height => "40", :src => "//s3-ap-northeast-1.amazonaws.com/blabo-jp/users/default-icon.png", :width => "40"}/
        %p.abstract
          依頼主である三井不動産レジデンシャル株式会社は、マンションをつくる...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2014.02.14
    %h3
      シマウマ2頭分？！  隙間時間をもっと楽しくす...
  %a.story-card{:href => "/stories/552"}
    .image
      .img
        %img{:alt => "Mfr role playing kit square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-role-playing-kit-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "20130826203819 logo mfr", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/logos/20130826203819-logo-mfr.png", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Picture?width=200&height=200", :height => "40", :src => "https://graph.facebook.com/100001947287195/picture?width=200&height=200", :width => "40"}/
        %p.abstract
          マンションは住む場所である以上に、さまざまな学びをもたらしてくれる...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2014.02.14
    %h3
      子供たちの挨拶が生まれる街へ！  子どもたちの...
  %a.story-card.right-side{:href => "/stories/546"}
    .image
      .img
        %img{:alt => "Mfr gourmet map square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-gourmet-map-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "Mfr logo square", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/mfr-logo-square.png", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Picture?width=200&height=200", :height => "40", :src => "http://graph.facebook.com/100000136852589/picture?width=200&height=200", :width => "40"}/
        %p.abstract
          「食べ歩きマップ」と聞くと、雑誌などの食べもの特集を思い浮かべる方...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2014.02.14
    %h3
      みんなでつくる「食べ歩きマップ」。気軽なコミュ...
  %a.story-card{:href => "/stories/544"}
    .image
      .img
        %img{:alt => "Mfr house with trees square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/02/mfr-house-with-trees-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "20130826203819 logo mfr", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/logos/20130826203819-logo-mfr.png", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Twitter  reasonably small", :height => "40", :src => "http://pbs.twimg.com/profile_images/1339761368/Twitter__reasonably_small.jpg", :width => "40"}/
        %p.abstract
          マンションは人生の大きな買い物。ひとの一生を支える、大切な持ち物で...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2014.02.14
    %h3
      より豊かな人生の時間を過ごそう！  樹と共に育...
  %a.story-card{:href => "/stories/540"}
    .image
      .img
        %img{:alt => "Gulliver store square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/01/gulliver-store-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "Gulliver logo square", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/gulliver-logo-square.png", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "Megkaho", :height => "40", :src => "//blabo-jp.s3.amazonaws.com/users/megkaho.jpg", :width => "40"}/
        %p.abstract
          クルマ業界の常識を覆し、新しい価値を提供する企業である中古車販売最...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2014.01.17
    %h3
      ガリバーで実現！ペーパードライバーだからこそ気...
  %a.story-card.right-side{:href => "/stories/538"}
    .image
      .img
        %img{:alt => "Lotte sukkiring square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2012/10/lotte-sukkiring-square.jpg", :width => "230"}/
      .content
        .people
          %img.circle-icon{:alt => "Lotte logo", :height => "40", :src => "http://blabo-jp.s3.amazonaws.com/teams/lotte-logo.png", :width => "40"}/
          %img{:alt => "Cross", :height => "16", :src => "//cdn.bla.bo/assets/stories/cross-8b1835cf78f47ee8f58ca8c642b1af36.png", :width => "16"}/
          %img.circle-icon{:alt => "7c4ec1858b312f00163e2960eb6ae026", :height => "40", :src => "//pbs.twimg.com/profile_images/3238686282/7c4ec1858b312f00163e2960eb6ae026.jpeg", :width => "40"}/
        %p.abstract
          以前から社会問題として注目されてきた「ゴミのポイ捨て問題」。行政や...
    .info
      %span.category.completed
        できました
      %span.reported-on.number
        2012.10.29
    %h3
      ゴミ箱に捨てるって気持ちいい！  ロッテ×gr...