#story-cards.for3.slide-to-top
  %a.story-card{:href => "/boards/1"}
    .image
      .img
        %img{:alt => "Thumbnail2", :height => "230", :src => "https://s3-ap-northeast-1.amazonaws.com/danpeace.org/0000000078.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          希少な「タブレット閉塞機」鉄道の旅とマラソンが融合した...
    .info
      %span.category.article
        %span.badge アイデア・イベント
      %span.reported-on.number
        2015.12.19
    %h3
      鉄道＋マラソン！「タイムトラベル」マラソン
  %a.story-card{:href => "/boards/1"}
    .image
      .img
        %img{:alt => "Cb403151b9520e85bf240f6f8de9fd38", :height => "230", :src => "https://s3-ap-northeast-1.amazonaws.com/danpeace.org/12362821_1002376079785629_3292224115312272412_o.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          熊本県奥球磨に位置する湯前町。今回の「○○プロジェクト」の...
    .info
      %span.category.article
        %span.badge アイデア・町おこし
      %span.reported-on.number
        2015.06.15
    %h3
      湯前町役場の日當さんが語る「○○プロジェクト...
  %a.story-card.right-side{:href => "/stories/573"}
    .image
      .img
        %img{:alt => "Tottori bamboo tee square", :height => "230", :src => "https://s3-ap-northeast-1.amazonaws.com/danpeace.org/dobuita.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          ◯◯地区の下水の蓋が、老朽化して大変
    .info
      %span.category.ongoing
        %span.badge やりましょう！
      %span.reported-on.number
        2014.12.19
    %h3
      ○○地区のドブ板で足を取られて危険...
  %a.story-card{:href => "/stories/572"}
    .image
      .img
        %img{:alt => "Tottori omochi square", :height => "230", :src => "https://s3-ap-northeast-1.amazonaws.com/danpeace.org/egao_baby.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          こどもの皮膚病予防にグラノーラが有効であることを...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2014.12.19
    %h3
      子どもたちの皮膚の悩みをグラノーラで解決...
  %a.story-card{:href => "/stories/568"}
    .image
      .img
        %img{:alt => "Tottori echinacea square", :height => "230", :src => "https://s3-ap-northeast-1.amazonaws.com/danpeace.org/manga_art.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          鳥取県で200年以上お茶屋を営む、ながた茶店。そのながた茶店が、今...
    .info
      %span.category.ongoing
        %span.badge 作ってます
      %span.reported-on.number
        2014.12.19
    %h3
      人が入る「お風呂専用のティーバッグ」開発中
  %a.story-card.right-side{:href => "/stories/565"}
    .image
      .img
        %img{:alt => "Oisix cooking kit square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/oisix-cooking-kit-square.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          有機や特別栽培の農産物など安心食品宅配を提供しているオイシックス株...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2014.11.13
    %h3
      Oisixで発売決定！夫婦のすれ違いを一気に解...
  %a.story-card{:href => "/stories/410"}
    .image
      .img
        %img{:alt => "84e0d386b0f2406f1743ee019f865648", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/06/84e0d386b0f2406f1743ee019f865648.png", :width => "230"}/
      .content
        .people
        %p.abstract
          Blabo!マガジンの新しい企画「アイデアの達人」シリーズ。第2回...
    .info
      %span.category.article
        %span.badge 記事・コラム
      %span.reported-on.number
        2014.06.04
    %h3
      アイデアは世界からのプレゼント。だから人にも贈りたい
  %a.story-card{:href => "/stories/365"}
    .image
      .img
        %img{:alt => "387cf51e0cd167048a68208b0669e27a", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/05/387cf51e0cd167048a68208b0669e27a.png", :width => "230"}/
      .content
        .people
        %p.abstract
          Blabo!マガジンの新しい企画「アイデアの達人」シリーズはじまり...
    .info
      %span.category.article
        %span.badge 記事・コラム
      %span.reported-on.number
        2014.05.12
    %h3
      「会社の会議より、母親のアイデアのほうが面白か...
  %a.story-card.right-side{:href => "/stories/231"}
    .image
      .img
        %img{:alt => "9875cd3c62b99e2a14de81f44a369c8d", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/04/9875cd3c62b99e2a14de81f44a369c8d.png", :width => "230"}/
      .content
        .people
        %p.abstract
          先日、Blabo!の「CROSSOVER展」に参加しました。トーク...
    .info
      %span.category.article
        %span.badge 記事・コラム
      %span.reported-on.number
        2014.04.14
    %h3
      アイデアはCROSSOVERから生まれる(前篇...
  %a.story-card{:href => "/stories/157"}
    .image
      .img
        %img{:alt => "C278f017174156097186b242b35bccfd", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/03/c278f017174156097186b242b35bccfd.png", :width => "230"}/
      .content
        .people
        %p.abstract
          仕事をする上で「企画」は欠かせないもの。これだけ一般的に使われてい...
    .info
      %span.category.article
        %span.badge 記事・コラム
      %span.reported-on.number
        2014.03.05
    %h3
      河尻亨一さん、企画っていったいなんでしょう？
  %a.story-card{:href => "/stories/561"}
    .image
      .img
        %img{:alt => "Mfr communication hallway square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-communication-hallway-square.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          エントランスや廊下、エレベーターホールに階段。マンションの中にはた...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2014.02.14
    %h3
      何気ない移動を、意味のある「運動」に！  カロ...
  %a.story-card.right-side{:href => "/stories/571"}
    .image
      .img
        %img{:alt => "Mfr communication stairs square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-communication-stairs-square.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          エントランスや廊下、エレベーターホールに階段。マンションの中にはた...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2014.02.14
    %h3
      「一段って実はハガキ2枚分の高さでした。」… ...
  %a.story-card{:href => "/stories/555"}
    .image
      .img
        %img{:alt => "Mfr communication elevator square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-communication-elevator-square.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          依頼主である三井不動産レジデンシャル株式会社は、マンションをつくる...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2014.02.14
    %h3
      シマウマ2頭分？！  隙間時間をもっと楽しくす...
  %a.story-card{:href => "/stories/552"}
    .image
      .img
        %img{:alt => "Mfr role playing kit square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-role-playing-kit-square.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          マンションは住む場所である以上に、さまざまな学びをもたらしてくれる...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2014.02.14
    %h3
      子供たちの挨拶が生まれる街へ！  子どもたちの...
  %a.story-card.right-side{:href => "/stories/546"}
    .image
      .img
        %img{:alt => "Mfr gourmet map square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2015/06/mfr-gourmet-map-square.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          「食べ歩きマップ」と聞くと、雑誌などの食べもの特集を思い浮かべる方...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2014.02.14
    %h3
      みんなでつくる「食べ歩きマップ」。気軽なコミュ...
  %a.story-card{:href => "/stories/544"}
    .image
      .img
        %img{:alt => "Mfr house with trees square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/02/mfr-house-with-trees-square.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          マンションは人生の大きな買い物。ひとの一生を支える、大切な持ち物で...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2014.02.14
    %h3
      より豊かな人生の時間を過ごそう！  樹と共に育...
  %a.story-card{:href => "/stories/540"}
    .image
      .img
        %img{:alt => "Gulliver store square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2014/01/gulliver-store-square.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          クルマ業界の常識を覆し、新しい価値を提供する企業である中古車販売最...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2014.01.17
    %h3
      ガリバーで実現！ペーパードライバーだからこそ気...
  %a.story-card.right-side{:href => "/stories/538"}
    .image
      .img
        %img{:alt => "Lotte sukkiring square", :height => "230", :src => "http://blb2.sakura.ne.jp/stories/wp-content/uploads/2012/10/lotte-sukkiring-square.jpg", :width => "230"}/
      .content
        .people
        %p.abstract
          以前から社会問題として注目されてきた「ゴミのポイ捨て問題」。行政や...
    .info
      %span.category.completed
        %span.badge できました
      %span.reported-on.number
        2012.10.29
    %h3
      ゴミ箱に捨てるって気持ちいい！  ロッテ×gr...